body {
  margin: 0;
  padding: 0;
  background-color: rgb(199, 220, 249);
  color: rgb(0, 5, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
.background-content {
  position: absolute;

  width: 100vw;
  height: 100vh;
}

.header-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  background-color: rgba(0, 5, 43, 0.066);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.names {
  font-family: "Playfair Display", Sans-serif;
  font-weight: 800;
  height: auto;
  text-transform: uppercase;
  margin: auto;
  overflow-x: hidden;
}
.title {
  font-family: "Cormorant Garamond", Sans-serif;
  overflow-x: hidden;
  font-size: 20px;
  margin: auto;
  text-transform: uppercase;
}
.invite {
  width: 80%;
  font-family: "Courgette", cursive;
  font-size: 20px;
  overflow-x: hidden;
  margin: auto;
}
header .background {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  object-fit: cover;
  filter: brightness(40%);
  z-index: -1;
  overflow: hidden;
  animation-iteration-count: infinite;
  animation-name: slider2;
  animation-duration: 10s;
}
@keyframes slider2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .background2 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  object-fit: cover;
  filter: brightness(40%);
  z-index: -1;
  overflow: hidden;
  animation-name: slider;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
@keyframes slider {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
header .background3 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
  z-index: -1;
  overflow: hidden;
  animation-name: slider3;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
@keyframes slider3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.our-history {
  font-family: "Aboreto", cursive;
  font-weight: 200;
}
.history {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.historia {
  width: 100%;
  font-family: "Courgette", cursive;
  height: auto;
  margin: 0;
}
.contdate {
  background: rgba(199, 220, 249, 0.511);
  border: 1px solid rgba(0, 5, 43, 0.617);
  border-style: double;
  padding: 20px;
  border-radius: 7px;
  border-width: 8px;
}
.date {
  font-family: "Courgette", cursive;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}
.contador {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 20%;
}
.padres {
  font-size: 14px;
  width: 90%;
}
.dato {
  font-family: "sacramento", cursive;
  font-weight: 200;
  font-size: 40px;
}
.novios {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  object-fit: cover;
}
.padres-content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.padres-content img {
  width: 100%;
  height: auto;
  z-index: -1;
}
.novios img {
  width: 100%;
  height: auto;
  z-index: -1;
}
.people {
  width: 90%;
  height: 30%;
  position: absolute;
  border-radius: 10px;
  margin-top: 320px;
  background-color: rgb(199, 220, 249);
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.462);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}
.people2 {
  width: 90%;
  height: 25%;
  position: absolute;
  border-radius: 10px;
  margin-top: 320px;
  background-color: rgb(199, 220, 249);
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.462);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}
.parent {
  width: 70%;
  height: 5%;
  position: absolute;
  border-radius: 10px;
  border: 10px solid rgba(0, 5, 43, 0.617);
  border-style: double;
  margin-top: 120px;
  background-color: rgb(199, 220, 249);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.parents {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.texto {
  width: 85%;
  font-size: 16px;
}
.and {
  font-family: "Playfair Display", Sans-serif;
  font-size: 50px;
}
.moments {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moments .gallery {
  width: 100%;
  columns: 30vw;
}
.image {
  overflow: hidden;
  cursor: pointer;
  width: auto;
}
.gallery img {
  max-width: 100%;
  padding: 10px;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .gallery img:hover {
    transform: scale(2.5);
    filter: brightness(60%);
  }
}
.modal {
  visibility: hidden;
  position: fixed;
  scale: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.43);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu img {
  width: 8%;
  height: auto;
  position: absolute;
  right: 5%;
  margin-top: 10px;
}
.menu img:nth-child(2) {
  width: 8%;
  height: auto;
  position: absolute;
  right: 20%;
  margin-top: 10px;
}
.modal .menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.261);
  height: 8%;
  display: flex;
}
.modal a img {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 1%;
  right: 5%;
}
.modal-content {
  display: flex;
  justify-content: center;
  object-fit: cover;
}
#modal-img {
  width: 80vw;
  display: flex;
  height: auto;
  z-index: -1;
}
.line {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 200px;
  height: 40px;
  object-fit: cover;
}
.boyfriends {
  width: 85%;
  font-size: 16px;
  text-align: justify;
}
.maps {
  font-size: 18px;
  padding: 20px;
  background-color: rgba(74, 135, 226, 0.291);
  color: white;
  text-decoration: none;
  font-family: "Playfair Display", Sans-serif;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lugar {
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
}
.previa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
}
.location {
  text-transform: uppercase;
  font-size: 14px;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(117, 119, 169);
}
.lugar,
.line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lugar img {
  margin-right: 5px;
}
.versiculo {
  width: 100%;
  display: flex;
  height: auto;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  object-fit: cover;
  justify-content: space-between;
}
.versiculo img {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  position: absolute;
  filter: brightness(50%);
  z-index: -1;
}
.versicle {
  font-size: 120%;
  width: 90%;
  font-family: "Cormorant Garamond", Sans-serif;
}
